Q1. Discuss string slicing and provide examples.

A1. All strings are indexed from '0' to (length of the string-1) from left to right and from '-1' to -(length of the string) from right to left. Each character in a string can be accessed with the help of these indices.

String slicing refers to accessing of characters or a combination of characters in a given string value with the help of these indices (either using the left indexing or the righ indexing pattern). The syntax for string slicing is:

string[start:end:step]

In [ ]:
#Examples of string slicing
string1= "I am a student of Data Science"
length=len(string1)
str1=string1[0:4]
print(str1)
str2=string1[5:14]
print(str2)
str3=string1[-7:length]
print(str3)
str4=string1[-7:length:2]
print(str4)
str5=string1[0::]
print(str5)

I am
a student
Science
Sine
I am a student of Data Science

Q2. Explain the key features of lists in python.

A2.Lists are a kind of data structure that is used in python. It is an odered collection of elements that can be of any data type namely an integer, float, string, list, tuple, etc. Lists are mutable,i.e that is each element of the list can be accessed and modified (i.e. items can be added or removed in a list) as per the coder's convinience. This makes python a  highly versatile form of data structure in python.

In [ ]:
# Examples of list
lis=[1,2,4,64,67.98,"PWskills", "Data Science", [4,5,6]]
type(lis)

list

Q3. Describe how to access, modify, and delete elements in a list with examples.

A3. **Accessing elements in a list**: Each element in a list is indexed from '0' to the (length of the list-1) from left to right and from -1 to -(length of the list) from right to left. Using these indices one can access any element from the list and the indexing method also helps one in slicing of the list similar to that of a string.

**Modifying elements in a list**: Since list is a mutable type of data structure, each element of a list can be modified. An element in a list can be changes simply by accessing the element by its index and reassigning it to the required value. Elements can also be added to the list by using the in built python functions like apend(), insert() and extend().

**Deleting elements in a list**: Elememts can be deleted from a list by using the in built python functions like remove(). The entire list can be deleted by using clear().

In [ ]:
# Examples of accessing elements in a list
lis=[1,2,4,64,67.98,"PWskills", "Data Science", [4,5,6]]
lis[2]

4

In [ ]:
lis[-3]

'PWskills'

In [ ]:
lis[0:len(lis)-1:2]

[1, 4, 67.98, 'Data Science']

In [ ]:
#Examples of modifying a list
lis.append("Apple") #adds the element to the end of the list
print(lis)
lis.insert(1,"Mango")#adds the element to the list before the mentioned index
print(lis)

[1, 2, 4, 64, 67.98, 'PWskills', 'Data Science', [4, 5, 6], 'Apple']
[1, 'Mango', 2, 4, 64, 67.98, 'PWskills', 'Data Science', [4, 5, 6], 'Apple']

In [ ]:
#Examples of deleting elements in a list
lis.remove("Apple")
lis

[1, 'Mango', 2, 4, 64, 67.98, 'PWskills', 'Data Science', [4, 5, 6]]

In [ ]:
lis.remove("Mango")
lis

[1, 2, 4, 64, 67.98, 'PWskills', 'Data Science', [4, 5, 6]]

In [ ]:
#Examples of merging 2 lists
lis=[1,2,4,64,67.98,"PWskills", "Data Science", [4,5,6]]
lis2=["Apple","Mango"]
lis.extend(lis2)
print(lis)

[1, 2, 4, 64, 67.98, 'PWskills', 'Data Science', [4, 5, 6], 'Apple', 'Mango']

Q4. Compare and contrast tuples and lists with examples.

A4. Both lists and tuples are part of the data structures in Python. The primary difference between lists and tuples are that lists are mutable and tuples are immutable.
Lists are mutable, as in the elements in the lists can be accessed, modifoed as well as removed as per the programmer's necessity. On the other hand, tuples are immutable, and once defined, the elements of the tuple cannot be modified by assigning them to new value.

The syntactical difference between a list and a tuple is that lists are defined by using square brackets while tuples are defined using parenthesis.

Performance wise, tuples are much more efficient and faster because their memory size is fixed unlike lists.

In [ ]:
#Differences between list and tuple
lis=[1,2,4,64,67.98,"PWskills", "Data Science", [4,5,6]]
tup=(11,22,33,44,55)
print(type(lis))
print(type(tup))

<class 'list'>
<class 'tuple'>

In [ ]:
#Mutability of list
lis[5]="Apple"
print(lis)

[1, 2, 4, 64, 67.98, 'Apple', 'Data Science', [4, 5, 6]]

In [ ]:
#Immutability of tupple
tup[2]=56
print(tup)

TypeError: 'tuple' object does not support item assignment

Q5.  Describe the key features of sets and provide examples of their use.

A5. Sets are and unordered collection of unique elements. It is a kind of data structure that does not allow duplication. Due to its unordered nature, elements in a set cannot be accessed through indices. However, unique elements can be added to the set and it provides a more optimised method to check for the presense of an element than that in a list.

In [ ]:
#Examples of unorderedness and uniqueness of set
s={11,22,33,44,55,22,33,44,"Apple", "Mango","Apple","Mango"}
type(s)

set

In [ ]:
print(s) # prints only the unique elements in an unordered manner

{'Mango', 33, 55, 22, 'Apple', 11, 44}

In [ ]:
s[4] #unordered: elements in the set cannot be accessed

TypeError: 'set' object is not subscriptable

In [ ]:
# adding an element to the set
s.add("Banana")
s

{11, 22, 33, 44, 55, 'Apple', 'Banana', 'Mango'}

In [ ]:
# removing an elements from a set
s.remove("Apple")
s

{11, 22, 33, 44, 55, 'Banana', 'Mango'}

Q6. Discuss the use cases of tuples and sets in Python programming.

A6. Use case of tuples in python programming: Since tuples are immutable and ordered, they can be used to store unchangable items like the employee identification numbers in an organisation or the bank account number of the customers etc.

Use cse of set in python programming: Sets are unordered and unique collection of items. Therefore, it provides with an efficient way of iterating through each item if the coder were to search for a specific element within a set. Along with it, sets are much more efficient in terms of performance and memory usage in python programming. It can also be used for billing softwares, where only unique elements are considered.

Q7. Describe how to add, modify, and delete items in a dictionary with examples.

A7. Dictionary is a type of data structure in python, that stores its elements as key value pair.

Adding an element in a dictionary: Items can be added in a dictionary simply by defining a key value pair.

Modifying an element in a dictionary: The value to a corresponding key can be modified in a dictionary by redefining the key in the dictionary.

Deleting an element from a dictionary:A key value pair can be deleted from a given dictionary by using the function del().

In [20]:
d={"name":"Amit","course":"Data Science","marks":87}
type(d)

dict

In [18]:
d["name"]#accessing an element in a dictionary

'Amit'

In [21]:
# adding an element in dictionary
d["email:"]="amit@gmail.com"
print(d)

{'name': 'Amit', 'course': 'Data Science', 'marks': 87, 'email:': 'amit@gmail.com'}

In [22]:
#modifying an item in a dictionary
d["name"]="Sumit"
print(d)

{'name': 'Sumit', 'course': 'Data Science', 'marks': 87, 'email:': 'amit@gmail.com'}

In [24]:
# deleting an item or key value pain from a dictionary
del d["name"]
print(d)

{'course': 'Data Science', 'marks': 87, 'email:': 'amit@gmail.com'}

 Q8. Discuss the importance of dictionary keys being immutable and provide example.

 A8. Dictionary keys are immutable. Therefore, only strings, integers, float and tuples can be defined as keys in the dictionary. Additionaly, in a dictionary values can be accessed through keys but keys cannot be accessed through values. This is primarily because the items in a dictionary has no index values and can be accessed individually solely through their corresponding keys.

In [34]:
# Examples for dictionary keys being immutable
dic={"name":"Amit"}#string as a key
dic

{'name': 'Amit'}

In [35]:
dic={1:"one"}#integer as a key
dic

{1: 'one'}

In [36]:
dic={1.2:"one point two"} #float as a key
dic

{1.2: 'one point two'}

In [37]:
dic={(1,2,3):"a"} #tuple as a key
dic

{(1, 2, 3): 'a'}

In [33]:
dic={[1,2,3]:"b"} #since list is mutable, it cannot be used as a key
dic

TypeError: unhashable type: 'list'

In [39]:
d={"name":"Amit","course":"Data Science","marks":87}
d["name"] #value can be accessed through a key

'Amit'

In [40]:
d["Amit"] #key cannot be accessed through a value

KeyError: 'Amit'